.main {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  margin: -0.51rem;
  background: url("./Picture2.png") no-repeat;
  background-size: cover; /* Adjusts the background image to cover the entire container */
  background-position: center center;
  background-attachment: fixed;
  color: #fff; /* Text color */
}

#welcome{
  text-align: center;
  font-weight: bold;
  font-family: 'Lato Light', sans-serif;
}

.container{
  margin-top: 0rem;
  padding: 20px;
}

h1 {
  margin-top: 0rem;
  margin-left: 1rem;
  text-align: left;
  font-family: 'Lato Light', sans-serif;
  
}

h2{
  text-align: center;
  font-family: 'Lato Light', sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

p {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Lato Light', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

#prompt {
  width: 45%; /* Adjust width as needed */
  padding: 10px;
  background-color: transparent;
  border-color: white;
  border-width: 3px;
  border-radius: 50px; /* Set border radius */
  color: white; /* Set white text color */
  margin: 0 auto; /* Center horizontally */
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  background-image: url('./GPT.png'); /* Specify the path to your image */
  background-position: right 10px center; /* Adjust position of the image */
  background-repeat: no-repeat; /* Ensure the image doesn't repeat */
  padding-right: 45px;
}

::placeholder{
  color: #BFBFBF !important; /* Placeholder color */
}

#slider-container {
  display: flex;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
  width: fit-content; /* Adjusts width to fit its content */
}


.type{
  margin-top: 7rem;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.slidecontainer:hover .type {
  color: #34ad4c; /* Change the text color when sliders are being hovered */
}

.searchContainer {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  margin-top: 20px; /* Adjust margin top as needed */
}


#generate {
  background-color: white; /* Button background color */
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 6%;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace; /* Use a monospaced font */
  width: 300px;
  
}

#generate:hover {
  background-color: #34ad4c; /* Button hover color */
  color: white;
}
