<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Track Features</title>
</head>
<body>
    <h1>Spotify Track Audio Features</h1>
    <form method="post">
        <input type="text" name="artist_name" placeholder="Enter artist name">
        <input type="text" name="track_name" placeholder="Enter track name">
        
        <button type="submit">Get Audio Features</button>
    </form>
</body>
</html>
