<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Track Segments Analysis</title>
</head>
<body>
    <h1>Spotify Track Segments Analysis</h1>
    <h2> A segment is a smaller musical unit within a track, often comprising a few musical bars. Segments focus on the detailed audio analysis of a track, including aspects like timbre, loudness, and pitches.</h2>
    <form method="post">
        <input type="text" name="artist_name" placeholder="Enter artist name">
        <input type="text" name="track_name" placeholder="Enter track name">
        
        <button type="submit">Get Segment Analysis</button>
    </form>
</body>
</html>
