<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Track Sections Analysis</title>
</head>
<body>
    <h1>Spotify Track Sections Analysis</h1>
    
    <h2> Definition: A section is a part of a track that has a relatively homogeneous and distinct character compared to other parts of the track. Sections are longer than segments and are often distinguished by their rhythmic, melodic, and harmonic content.  </h2>
    <form method="post">
        <input type="text" name="artist_name" placeholder="Enter artist name">
        <input type="text" name="track_name" placeholder="Enter track name">
        
        <button type="submit">Get Section Analysis</button>
    </form>
</body>
</html>
